// app/components/global/Header.module.scss
.header {
  --headerSpace: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  user-select: none;
  z-index: 10;

  nav {
    padding-left: var(--gap);
    padding-right: var(--gap);
    color: var(--background);
    transition:
            transform 0.25s,
            0.25s height 0.25s;
    transform: rotateX(90deg);
    transform-origin: top;
    overflow: hidden;

    @media (min-width: 640px) {
      transform: rotateX(0deg);
    }
  }
}
