.header {
  --headerSpace: 0;
  --g45g45g45: 'd23d23';

  nav {
    transition:
            transform 0.25s,
            0.25s height 0.25s;
    transform: rotateX(90deg);
    transform-origin: top;
    overflow: hidden;

    @media (min-width: 640px) {
      transform: rotateX(0deg);
    }
  }
  & ~ .headerSpacer {
    width: 100%;
  }
}

.navButtonIcon {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  line-height: 1;

  @media (min-width: 640px) {
    display: none;
  }
  svg {
    color: var(--alwaysWhite);
    transform: rotate(0deg);
    transition: transform 0.25s;
  }
}
.navButton {
  display: none;

  &:checked {
    & ~ .navButtonIcon svg {
      transform: rotate(270deg);
    }
    & ~ nav {
      transform: rotateX(0deg);
    }
  }
  &:not(:checked) ~ nav {
    transform: rotateX(90deg);

    @media (min-width: 640px) {
      transform: rotateX(0deg);
      background: transparent;
    }
  }
  ~ nav {
    background-color: var(--background);
    color: var(--foreground);

    @media (min-width: 640px) {
      background: transparent;
      color: var(--alwaysWhite);
    }
  }
}
